# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Node
node_modules/
dist/
build/

# Variables de entorno
.env

# Archivos subidos
uploads/*
!uploads/.gitkeep
!uploads/invoices/.gitkeep
!uploads/temp/.gitkeep

# Docker / logs
*.log

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Scripts temporales de instalación
setup.ps1
setup_backend.ps1